/* Classes Dashboard */
.classes-dashboard {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/* Classes Button */
.classes-button {
  float: right;
  padding: 5px;
  width: 100px;
  height: 40px;
  margin-right: 5px;
  background-color: white;
  color: black;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0px 1px 1px gray;
}
.classes-button:hover {
  background-color: #e7e7e7;
  border: 1px solid #c2c2c2;
}

/* Dashboard title */
.classes-title {
  font-size: 42px;
  border-radius: 5px;
  padding: 10px;
  color: black;
  background: white;
  box-shadow: 0px 2px 2px gray;
}

/* Class List Display */
.classes-list {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  min-height: 400px;
  width: 70%;
}

/* Class List Items */
.classes-list-item {
  font-size: 17px;
  margin: 10px;
  padding: 10px;
  height: 100%;
  overflow: auto;
  box-shadow: 0px 2px 2px gray;
  border-radius: 5px;
  background: white;
}

/* Classes Add Menu */
.classes-menu {
  display: none;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0px 2px 2px gray;
  border-radius: 5px;
}

/* Menu Class Create Button */
#classes-create {
  display: none;
  width: 130px;
}

/* Class Adding Error Info */
.classes-add-error {
  margin-top: 20px;
  color: red;
  display: none;
}
