body {
  margin: 0;
}

.pageContainer {
  margin-top: 10vh;
}

.innerPage {
    background-color: lightgrey;
    min-height: 40vh;
    border-radius: 0.5em;
    padding: 1em;
}

.mapContainer {
    min-height: 100%;
}
